@import "_mixin.styl"
	
body
	padding 0
	margin 0
	//opacity 0.3
	//display flex
	//justify-content space-between
	//align-content center

@media screen and (min-width: 768px)
	.test1
		width 100px

@media screen and (min-width: 768px)
	.test2
		width 200px

@media screen and (min-width: 768px)
	.test3
		width 300px

@import "_header.styl"

h1
	margin 0
	padding 0

footer
	background-color #cccccc