#header
  background-color #eeeeee
  .headerInr
    max-width 1200px
    margin 0 auto
  .head
    display flex
    justify-content space-between
  .logo
    display block
    width 200px
    background-color #dddddd
  ul.sub
    display flex
    px(14)
    li
      a
        display block
        padding 10px
  nav
    ul
      display flex
      justify-content space-between
      li
        a
          display block
          padding 20px

