body{
	margin: 0;
	padding: 0;
	//opacity: 1;
	//align-content: center;
	//justify-content: space-between;
	//display: flex;
}

@media screen and (min-width: 768px) {
	.test1 {
		width: 576px;
	}
}
   
   
@media screen and (min-width: 768px) {
	.test2 {
		width: 384px;
	}
}

@import "header";

main{
	width: 100%
}

footer{
	background-color: #cccccc;
}

h1{
	padding: 0;
	margin: 0;
}