doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title テストサイト
    link(rel="stylesheet", href="css/style.css")
  body
    header
      div.header-inr
        a.header-logo(href="")
          h1 ロゴ2