<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>テストサイト33</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/script.min.js"></script>
</head>
<body>
<header>
	<div class="header-inr"><a class="header-logo" href="">
			<h1>サイト名</h1></a></div>
</header>
</body>
</html>