<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>テストサイト33</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/script.min.js"></script>
</head>
<body>
<%- include('./_header', {sitename:'Ejsインクルード'}) %>
<main>
	Content
</main>
<footer>
	Footer
</footer>
</body>
</html>