doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title テストサイトss
    link(rel="stylesheet", href="assets/css/style.css")
    script(src="assets/js/script.min.js")
  body
    - var sitename = "Pugインクルード"
    include _header.pug

  main コンテンツ

  footer フッター